Repository cabanaquinta/travel_agency: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, isort, pytest

.pre-commit-config.yaml:

default_language_version:
    python: python3.11.2

repos:
    - repo: local
      hooks:
          - id: flake8
            name: flake8
            entry: poetry run flake8
            language: system
            types: [python]
            files: my_python_code/fancy_python_code.*
          - id: mypy
            name: mypy
            entry: poetry run mypy
            language: system
            types: [python]
            files: my_python_code/fancy_python_code.*
          - id: isort
            name: isort
            entry: poetry run isort
            language: system
            types: [python]
            files: my_python_code/fancy_python_code.*
          - id: pytest
            name: pytest
            entry: poetry run pytest
            language: system
            types: [python]

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
          - id: end-of-file-fixer
          - id: check-yaml
          - id: check-added-large-files
          - id: double-quote-string-fixer
          - id: check-case-conflict
          - id: mixed-line-ending
          - id: check-ast
          - id: debug-statements

first commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  my_python_code/__pycache__/fancy_python_code.cpython-311.pyc
  readme.md
Due: none

First Commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix commit
  .github/workflows/ci.yml
Due: none

third commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

foruth commit
  .github/workflows/ci.yml
Due: none

5th commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

First Commit (#1)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

prefect added
  .DS_Store
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  data/travel_data.parquet
  my_python_code/fancy_python_code.py
  poetry.lock
  prefect/.DS_Store
  prefect/.prefectignore
  prefect/__pycache__/etl_gcp_to_bq.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcp.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcs.cpython-39.pyc
  prefect/deployment.py
  prefect/etl_gcp_to_bq.py
  prefect/etl_web_to_gcs.py
  prefect/tasks/__pycache__/fancy_python_code.cpython-311-pytest-7.2.2.pyc
  prefect/tasks/__pycache__/fancy_python_code.cpython-311.pyc
  prefect/tasks/__pycache__/prefect_tasks.cpython-39.pyc
  prefect/tasks/prefect_tasks.py
  pyproject.toml
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/readme.md
  terraform/variables.tf
  test.csv
  test/test_fancy_python_function.py
Due: flake8, mypy, isort, pytest

prefect added (#3)
  .DS_Store
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  data/travel_data.parquet
  my_python_code/fancy_python_code.py
  poetry.lock
  prefect/.DS_Store
  prefect/.prefectignore
  prefect/__pycache__/etl_gcp_to_bq.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcp.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcs.cpython-39.pyc
  prefect/deployment.py
  prefect/etl_gcp_to_bq.py
  prefect/etl_web_to_gcs.py
  prefect/tasks/__pycache__/fancy_python_code.cpython-311-pytest-7.2.2.pyc
  prefect/tasks/__pycache__/fancy_python_code.cpython-311.pyc
  prefect/tasks/__pycache__/prefect_tasks.cpython-39.pyc
  prefect/tasks/prefect_tasks.py
  pyproject.toml
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/readme.md
  terraform/variables.tf
  test.csv
  test/test_fancy_python_function.py
Due: flake8, mypy, isort, pytest

new_commit
  .github/workflows/ci.yml
  prefect/tasks/prefect_tasks.py
Due: pytest

test
  prefect/tasks/prefect_tasks.py
Due: pytest

Prefect (#4)
  .github/workflows/ci.yml
  prefect/tasks/prefect_tasks.py
Due: pytest

testt
  .github/workflows/ci.yml
Due: none

new commit
  .pre-commit-config.yaml
  poetry.lock
  prefect/deployment.py
  prefect/etl_gcp_to_bq.py
  prefect/etl_web_to_gcs.py
  prefect/tasks/prefect_tasks.py
  pyproject.toml
  setup.cfg
  test.csv
Due: pytest

death
  setup.cfg
Due: none

Prefect (#7)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  prefect/deployment.py
  prefect/etl_gcp_to_bq.py
  prefect/etl_web_to_gcs.py
  prefect/tasks/prefect_tasks.py
  pyproject.toml
  setup.cfg
  test.csv
Due: pytest

small change
  .github/workflows/ci.yml
Due: none

test auto deploy to docker
  prefect/.prefect/flows.json
  prefect/__pycache__/etl_web_to_gcs.cpython-39.pyc
  prefect/deployment.py
  prefect/prefect.yaml
  prefect/tasks/__pycache__/prefect_tasks.cpython-39.pyc
  prefect/tasks/prefect_tasks.py
Due: pytest

test auto deploy to docker 2
  prefect/.prefect/flows.json
  prefect/prefect.yaml
Due: none

first commit
  .DS_Store
  .github/workflows/push_artifact.yml
  .github/workflows/test_workflow.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  Dockerfile
  data/travel_data.parquet
  my_python_code/__pycache__/fancy_python_code.cpython-311.pyc
  my_python_code/fancy_python_code.py
  poetry.lock
  prefect/.DS_Store
  prefect/.prefect/flows.json
  prefect/.prefectignore
  prefect/__pycache__/etl_gcp_to_bq.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcp.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcs.cpython-39.pyc
  prefect/deployment.py
  prefect/etl_gcp_to_bq.py
  prefect/etl_web_to_gcs.py
  prefect/tasks/__pycache__/fancy_python_code.cpython-311-pytest-7.2.2.pyc
  prefect/tasks/__pycache__/fancy_python_code.cpython-311.pyc
  prefect/tasks/__pycache__/prefect_tasks.cpython-39.pyc
  prefect/tasks/prefect_tasks.py
  pyproject.toml
  readme.md
  setup.cfg
  terraform/.gitignore
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/readme.md
  terraform/variables.tf
  test/test_fancy_python_function.py
Due: flake8, mypy, isort, pytest

check if it works after simulation
  .github/workflows/push_artifact.yml
  prefect/__pycache__/etl_gcp_to_bq.cpython-39.pyc
  prefect/__pycache__/etl_web_to_gcs.cpython-39.pyc
  prefect/tasks/__pycache__/prefect_tasks.cpython-39.pyc
  prefect/tasks/prefect_tasks.py
Due: pytest

First Commit DBT
  .gitignore
  README.md
  dbt/analyses/.gitkeep
  dbt/macros/.gitkeep
  dbt/models/staging/web_data/stg_web-data__master.sql
  dbt/seeds/.gitkeep
  dbt/snapshots/.gitkeep
  dbt/tests/.gitkeep
  dbt_project.yml
Due: none

dbt first staging job
  dbt/models/staging/web_data/schema.yml
  dbt/models/staging/web_data/stg_web-data__master.sql
  prefect/ReadMe.md
  readme.md
Due: none

hello
  dbt_project.yml
  packages.yml
Due: none

commit
  dbt/models/staging/web_data/stg_web-data__master.sql
  dbt_project.yml
Due: none

add id
  dbt/models/staging/web_data/stg_web-data__master.sql
Due: none

nn
  dbt/models/staging/web_data/stg_web-data__master.sql
Due: none

pelikan
  prefect/__pycache__/pelikan.cpython-39.pyc
  prefect/pelikan.py
Due: pytest

delete files
  prefect/__pycache__/etl_web_to_gcp.cpython-39.pyc
  prefect/__pycache__/pelikan.cpython-39.pyc
Due: none

tst
  .github/workflows/ci.yml
  .github/workflows/push_artifact.yml
Due: none

sss
  .gitignore
Due: none

gitignore
  .gitignore
Due: none

finsih this
  .gitignore
Due: none

dbt
  .gitignore
  dbt/analyses/.gitkeep
  dbt/macros/.gitkeep
  dbt/models/staging/web_data/schema.yml
  dbt/models/staging/web_data/stg_web-data__master.sql
  dbt/seeds/.gitkeep
  dbt/snapshots/.gitkeep
  dbt/tests/.gitkeep
Due: none

dbt
  .gitignore
  dbt/models/staging/web_data/schema.yml
Due: none

first_commit
  prefect/tasks/pelikan_scrap.py
Due: pytest

dbt
  .gitignore
  README.md
  analyses/.gitkeep
  dbt_project.yml
  macros/.gitkeep
  models/example/my_first_dbt_model.sql
  models/example/my_second_dbt_model.sql
  models/example/schema.yml
  seeds/.gitkeep
  snapshots/.gitkeep
  tests/.gitkeep
Due: none
